$class=neo.xredsys.config.SimplePublicationSupport

# See the "Administer Publication" page for
# information on how to use this file.

rootDirectory=/var/www/MySite/
metaDirectory=/var/www/MySite/WEB-INF/
mediaDirectory=/mnt/imageserver/MySite/multimedia/


url=http://www.mysite.com/
mediaUrl=http://images.mysite.com/multimedia/
