ece-basic {
  com.escenic.auth.jaas.BasicLoginModule required;
};

ece-digest {
  com.escenic.auth.jaas.DigestLoginModule required;
};

ece-oauth2 {
  neo.nursery.auth.NurseryLoginModule Sufficient path="/com/escenic/auth/oauth2/OpenIdConnectLoginModuleFactory";
};

ece-profile {
  com.escenic.auth.jaas.AuthTokenLoginModule Sufficient;
  com.escenic.auth.jaas.DigestLoginModule Sufficient;
  com.escenic.auth.jaas.BasicLoginModule Sufficient;
};

